* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    margin-left: 41px;    
}

.header__account {
    margin-left: 34px;
    margin-right: 34px;
}

.promo {
    background: rgba(113, 103, 105, 0.08);
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
}

.promo__left {
    width: 50%;
}

.promo__img {
    width: 100%;
}

.promo__right {
    width: 50%;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: 64px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.catalog__item {
    position: relative;
}

.catalog-big {
    position: relative;
}

.catalog__item:not(:last-child) {
    margin-right: 30px;
}

.catalog__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog__text {
    color: #FFFFFF;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.catalog__img {
    width: 100%;
}

.catalog-big {
    margin-top: 30px;
}

.catalog-big__img {
    width: 100%;
}

.product-box {
    padding-top: 97px;
}

.product-box__heading,
.product-box__text {
    text-align: center;
}

.product {
    width: 360px;
    background: #F8F8F8;
    position: relative;
}

.product:hover .product__img {
    filter: brightness(35%);
}

.product:hover .product__add {
    display: flex;
}

.product__mb {
    margin-bottom: 30px;
}

.product__content {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__info {
    padding: 24px 16px 20px;
}

.product__text {
    margin-top: 12px;
    margin-bottom: 18px;
}

.product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    width: 139px;
    height: 44px;
    border: 1px solid white;    
    align-items: center;
    justify-content: center;
    display: none;
}

.product__add:hover {
    box-shadow: 0 0 5px #fff;
}

.product__button {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 96px;    
}

.product__button__touch {
    width: 206px;
    height: 48px;
    display: flex;
    align-items: center;
}

.product__button__touch:hover {
    background-color: #F16D7F;    
}

.product__button__touch:hover .text__button {
    color: white;
}

.text__button {
    padding: 14px 38px;
    border: 1px solid #FF6A6A;
    color: #F26376;
}

.footer__top {
    padding-top: 104px;
    padding-bottom: 104px;
    background: #222224;
    display: flex;    
    text-align: center;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer__item:not(:last-child) {
    margin-right: 30px;
}

.footer__top__heading {
    color: #FBFBFB;
    margin-top: 26px;
    margin-bottom: 16px;
}

.footer__top__text {
    color: #FBFBFB;
    width: 360px;
}

.background__img {
    width: 100%;
   
}

.footer__middle {
    background-image: url(img/background__footer.jpg);
    display: flex;
    justify-content: space-around;     
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}

.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__img {
    padding-top: 88px;
    padding-bottom: 32px;
}

.feedback__text {
    width: 360px;
    text-align: center;
    padding-bottom: 126px;
}

.subscribe {
    padding-top: 150px;
    text-align: center;
}

.form {
    display: flex; 
    margin-top: 32px;   
}

.email {
    width: 75%;
    background: #E1E1E1;
    padding: 7px 72px 7px 22px;
    border-radius: 50px 0 0 50px;
    border-style: none;
}

.submit {
    background: #F16D7F;
    border-radius: 0 50px 50px 0;    
    border-style: none;
    width: 25%;
}

.submit:hover {
    background-color: #E05C6E;;    
}

.footer__bottom {
    background: #222224;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer__bottom__item {
    display: flex;
}

.footer__bottom__icon {
    height: 32px;
    width: 32px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__bottom__icon:not(:last-child) {
    margin-right: 7px;
}

.footer__bottom__icon:hover {
    background-color: #F16D7F;    
}

.footer__bottom__icon:hover .footer__bottom__img {
    filter: invert(100%);
}

.arrivals {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F8F3F4;
}

.slider {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 96px;
}

